<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WatchPath" value="c:\temp\source" />
    <add key="DestinationPath" value="c:\temp\dest" />
    <!--*.mp3|*.jpg-->
    <add key="ProcessFileExtenstions" value="*.*" />    
    <add key="IsDeleteProcessedFiles" value="true" />
    <add key="IsReplaceDestinationFile" value="true" />
  </appSettings>
</configuration>